@import '../../sassStyles/variables';

.startControls {
    display: flex;
    justify-content: space-around;
    button {
        width: 6rem;
        height: 3rem;
        border-radius: 10px;
        color: white;
        display: flex;
        font-weight: bold;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        border: 0px solid transparent;
    }
}