@import '../../sassStyles/variables';

@import '../../sassStyles/variables';

.blackJack {
    width: 100vw;
    height: 100vh;
    .top {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .menu, .theme {
            display: inline-flex;
            width: 6rem;
            height: 3rem;
            border-radius: 10px;
            color: white;
            display: flex;
            font-weight: bold;
            font-size: 20px;
            justify-content: center;
            align-items: center;
        }
        .menu.red, .theme.red {
            background: $primary-color;
        }
        .menu.blue, .theme.blue {
            background: $primary-color2;
        }
        .menu.green, .theme.green {
            background: $primary-color3;
        }
        h1 {
            font-size: 60px;
        }
        h1.red {
            color: $primary-color;
        }
        h1.blue {
            color: $primary-color2;
        }
        h1.green {
            color: $primary-color3;
        }
        .bet, .funds {
            height: 3rem;
            width: 4rem;
            border-radius: 10px;
            color: white;
            display: flex;
            font-weight: bold;
            font-size: 20px;
            justify-content: center;
            align-items: center;
        }
        .bet.red, .funds.red {
            background-color: $tertiary-color;
        }
        .bet.blue, .funds.blue {
            background-color: $tertiary-color2;
        }
        .bet.green, .funds.green {
            background-color: $tertiary-color3;
        }
    }
}
.blackJack.red {
    background-color: $secondary-color;
}
.blackJack.blue {
    background-color: $secondary-color2;
}
.blackJack.green {
    background-color: $secondary-color3;
}





