@import '../../sassStyles/variables';

.achievement {
    width: 25rem;
    height: 10rem;
    margin: 0.5rem auto;
    border-radius: 5px;
    background-color: $primary-color;
    display: flex;
    .words {
        width: 15rem;
        height: 10rem;
        .progress {
            width: 14rem;
            height: 2rem;
            background-color: lightgray;
            border-radius: 5px;
            margin: 1.5rem 0.5rem;
            position: relative;
            div {
                width: 5rem;
                height: 2rem;
                background-color: goldenrod;
                border-radius: 5px;
            }
            .number {
                position: absolute;
                bottom: -1rem;
                font-size: 20px;
                width: 14rem;
                color: gray;
                text-align: center;
            }
        }
    }
    .reward {
        width: 10rem;
        height: 10rem;
        //border: 1px solid black;
        background-color: $tertiary-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        //opacity: 0.9;
        img {
            width: 5rem;
            height: 5rem;
            position: relative;
            z-index: 6;
        }
        .container {
            width: 5rem;
            height: 5rem;
            position: relative;
            margin-top: 1rem;
            margin-left: 2.5rem;
        }
        .container::after {
           position: absolute;
           left: 0;
           background-color: black;
           width: 5rem;
           height: 5rem;
           border-radius: 50%;
           opacity: 0.75;
           z-index: 7;
           content: '?';
           color: white;
           font-size: 30px;
           display: inline-flex;
           align-items: center;
           justify-content: center;
        }
    }
    .name {
        margin: 0.5rem 0.5rem;
        font-size: 25px;
        color: white;
        text-align: center;
    }
    .description {
        margin: 0rem 0.5rem;
        font-size: 15px;
        color: white;
        text-align: center;
    }
}