@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.Container {
    width: 5rem;
    height: 5rem;
    background-color: $primary-color;
    border-radius: 50%;
    @include chipGradient($primary-color3, $secondary-color3);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.chip {
    width: 4rem;
    height: 4rem;
    background-color: $primary-color3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}