@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.row {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    bottom: 15rem;
}

.Container {
    width: 6rem;
    height: 6rem;
    background-color: $primary-color;
    border-radius: 50%;
    @include chipGradient($primary-color, $tertiary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
} 

.chip {
    width: 5rem;
    height: 5rem;
    background-color: $primary-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}