
.solitaireDeck {
    width: 20vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    .pile {
        height: 12rem;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}