@import '../../sassStyles/variables';

.solitaireButtons {
    display: flex;
    position: absolute;
    width: 70vw;
    bottom: 5rem;
    justify-content: space-around;
    button {
        width: 10rem;
        height: 3rem;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border-radius: 10px;
        border: 0px solid transparent;
        background-color: $primary-color;
    }
}