@import '../../sassStyles/variables';

.display {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 35rem;
    div, button {
        color: $primary-color;
        font-weight: bold;
    }
    div {
        display: inline-flex;
        font-size: 90px;
    }
    button {
        font-size: 20px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: $tertiary-color;
        border: 0px solid transparent;
    }
}