@import '../../sassStyles/variables';

.display {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 35rem;
    div, button {
        font-weight: bold;
    }
    .red {
        color: $primary-color;
    }
    .blue {
        color: $primary-color2;
    }
    .green {
        color: $primary-color3;
    }
    div {
        display: inline-flex;
        font-size: 90px;
    }
    button {
        font-size: 20px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0px solid transparent;
    }
    .button.red {
        background-color: $tertiary-color;
    }
    .button.blue {
        background-color: $tertiary-color2;
    }
    .button.green {
        background-color: $secondary-color3;
    }
}