@import '../../sassStyles/variables';

.account {
    border: 4px solid $tertiary-color;
    border-radius: 10px;
    background-color: $tertiary-color;
    width: 60rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 7;
    box-shadow: 1px 1px 5px gray;
    padding: 0;
    h1 {
        color: $primary-color;
        font-size: 60px;
        width: 30rem;
        padding-bottom: 2rem;
        text-align: center;
        border-bottom: 2px solid $primary-color;
    }
    .info {
        width: 55rem;
        height: 35rem;
        display: flex;
        .one {
            width: 20rem;
            height: 35rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: lightgray;
            border-radius: 5px;
            padding-top: 1rem;
            .status {
                width: 15rem;
                height: 5rem;
                display: flex;
                background-color: $primary-color;
                border-radius: 5px;
                .rank {
                    width: 5rem;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        background-color: #ffb256;
                        //border: 0.25rem solid #ff933b;
                    }
                }
                .level {
                    width: 10rem;
                    height: 5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p {
                        color: white;
                        font-size: 25px;
                        margin: 0;
                    }
                    .progression {
                        width: 9rem;
                        height: 2rem;
                        background-color: lightgray;
                        border-radius: 5px;
                        margin: 0;
                        div {
                            width: 5rem;
                            height: 2rem;
                            background-color: #ffb256;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
        .two {
            width: 35rem;
            height: 35rem;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .buttonRow {
                width: 30rem;
                margin-bottom: 1rem;
                margin-top: 1rem;
                button {
                    width: 10rem;
                    height: 3.5rem;
                    background-color: lightgray;
                    color: gray;
                    font-size: 20px;
                    border: 0px solid transparent;
                }
                .first {
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                }
                .last {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                .active {
                    background-color: $primary-color;
                    color: white;
                }
            }
            .area {
                width: 28rem;
                height: 30rem;
                background-color: lightgray;
                border-radius: 5px;
                overflow: scroll;
                border: 1rem solid lightgray;
            }
        }
    }
}