@import '../../sassStyles/variables';

.cardBackground {
    width: 7rem;
    height: 10rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red {
    background-color: $secondary-color;
}
.blue {
    background-color: $secondary-color2;
}
.green {
    background-color: $secondary-color3;
}

.card {
    margin: 0;
    width: 6rem;
    height: 9rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    p {
        margin: 0;
        font-weight: bold;
        font-size: 30px;
    }
    .left {
        text-align: left;
        margin-top: 0.25rem;
        margin-left: 0.25rem;
    }
    .suit {
        text-align: center;
        font-size: 40px;
    }
    .back {
        text-align: center;
        font-size: 110px;
        font-family: 'Roboto', sans-serif;
    }
    .right {
        text-align: right;
        margin-bottom: 0.25rem;
        margin-right: 0.25rem;
    }
}

.Red {
    color: $primary-color;
}

.Black {
    color: black;
}

.f {
    flex-direction: column;
    justify-content: space-between;
}
.b {
    justify-content: center;
    align-items: center;
}
