//Theme Idea One
$primary-color: #ff595a;
$secondary-color: #ffe7db;
$tertiary-color: #fed9cf;

//Theme Idea Two
$primary-color2: #648DE5;
$secondary-color2: #EEF2FC;
$tertiary-color2: #BCBCDC;

//Theme Idea Three
$primary-color3: #B7AD7B;
$secondary-color3: #DBD6BD;