@import '../../sassStyles/variables';

.player {
    width: 13rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0.5rem;
    //margin-right: 5rem;
    img {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        background-color: lightgray;
        margin: 0;
    }
    img.red {
        border: 5px solid $primary-color;
    }
    img.blue {
        border: 5px solid $primary-color2;
    }
    img.green {
        border: 5px solid $primary-color3;
    }
    p {
        font-weight: bold;
        font-size: 25px;
        width: auto;
        height: auto;
        border-radius: 10px;
        text-align: center;
        padding: 0.25rem 1rem;
        margin: 0;
        color: white;
        position: relative;
        bottom: 1.75rem;
    }
    p.red {
        background-color: $primary-color;
    }
    p.blue {
        background-color: $primary-color2;
    }
    p.green {
        background-color: $primary-color3;
    }
}