@import '../../sassStyles/variables';

.home {
    background-color: $secondary-color;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        border: 4px solid $tertiary-color;
        border-radius: 10px;
        background-color: $tertiary-color;
        width: 40rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        h1 {
            color: $primary-color;
            font-size: 60px;
            width: fit-content;
        }
        .buttonRow {
            width: 30rem;
        }
        button {
            width: 10rem;
            height: 3.5rem;
            background-color: lightgray;
            color: gray;
            font-size: 20px;
            border: 0px solid transparent;
        }
        .active {
            background-color: $primary-color;
            color: white;
        }
    }
}

