@import '../../sassStyles/variables';

.home {
    background-color: $secondary-color;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}
.home::after {
    position: absolute;
    background-color: black;
    content: '';
    opacity: 0.15;
    width: 100vw;
    height: 100vh;
    z-index: 6;
}

