

.play {
    margin-top: 5rem;
    .section {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .outcome {
        margin-top: 0;
        height: 4rem;
        position: relative;
        bottom: 2.5rem;
        text-align: center;
        color: black;
        font-size: 50px;
        font-weight: bold;
    }
}
